<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" th:replace="fragments/layout :: layout(~{::title}, ~{::#content})">
<head>
    <title>GoService | Home</title>
</head>
<body>

<main id="content">
    <div th:replace="fragments/header :: header"></div>

    <section class="publicity-conteiner">
        <div class="card-publicity">
            <img th:src="@{/assets/img/prormos/1.png}" class="img-top" alt="">
            <div>
                <h5 class="card-title">Seja GoAgent</h5>

                <p class="card-text"> Ganhe liberdade para escolher seus projetos, defina seu próprio horário e aproveite uma renda flexível!</p>
            </div>
        </div>
        <div class="card-publicity">
            <img th:src="@{/assets/img/prormos/3.png}" class="img-top" alt="">
            <div>
                <h5 class="card-title">Educação</h5>
                <p class="card-text">
                    Junte-se a nós e descubra o poder do aprendizado com os professores da GoService.</p>
            </div>

        </div>

            <div class="card-publicity">
                <img th:src="@{/assets/img/prormos/4.png}" class="img-top" alt="" >
                <div class="card-body">
                    <h5 class="card-title">Serviços</h5>
                    <p class="card-text">Com a GoService, você pode contar com uma plataforma versátil que conecta pessoas talentosas a clientes em busca de soluções práticas.</p>
                </div>
            </div>
            <div class="card-publicity">
                <img th:src="@{/assets/img/prormos/5.png}" class="img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Personal Shopper</h5>
                    <p class="card-text">Nossos shoppers pessoais são especialistas em entender suas necessidades e preferências,
                        garantindo que você receba recomendações sob medida. </p>
                </div>
            </div>
            <div class="card-publicity">
                <img th:src="@{/assets/img/prormos/6.png}" class="img-top" alt="">
                <div class="card-body">

                    <h5 class="card-title">Bombe nas Redes Sociais</h5>

                    <p class="card-text">Venha com a goservice e ganhe milhares de seguidores nas redes sociais</p>
                </div>
            </div>
            <div class="card-publicity">


                <img th:src="@{assets/img/prormos/7.png}" class="img-top" alt="">

                <div class="card-body">
                    <h5 class="card-title">Organize sua rotina!</h5>
                    <p class="card-text">Com a gosevice sua rotina está em boas mãos e muito bem organizada!</p>
                </div>
            </div>
            <div class="card-publicity">

                <img th:src="@{assets/img/prormos/8.png}" class="img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Propostas e Revisôes </h5>
                    <p class="card-text">Nossos especialistas analisam minuciosamente suas propostas,

                        verificando a clareza, gramática e coesão, garantindo que estejam perfeitamente formuladas.</p>

                </div>
            </div>
    </section>
    <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-muted">© 2022 Company, Inc</p>

        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
        </a>

        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Termos e Condições</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Política e Privacidade</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>

        </ul>
    </footer>
</main>
</body>
</html>